#%RAML 1.0
title: customer-api
version: 1
baseUri: https://anypoint.mulesoft.com/mocking/api/v1/links/1bb5c3e7-53e8-4df9-818c-9fae3335e955/api/customer-api # baseUri: http://localhost:8081/api/customer-api
documentation: 
  - title: Customer API
    content: |
      Customer API that can List, Insert, Update, and Delete Customers.

securedBy: basic
securitySchemes: 
  basic:
    description:
      This API supports OAuth authentication
    type: Basic Authentication

types:
  customer: 
    description: Customer's schema
    type: !include schemas/customer.schema

/customers:
  get:
    description:
      Shows list of customers
    responses:
      200:
        body:
          application/json:
            example: !include examples/customerList.json
  post:
    description: 
      Create a customer
    body:
      application/json:
        type: customer
        example: !include examples/createCustomer.json
    responses:
      200:
        body:
          application/json:
            example:
              {
                "message": "Customer creation success."
              }
      
  /{customerId}:
    patch:
      description:
        This resource updates a customer.
      body:
        application/json:
          example: !include examples/updateCustomer.json
      responses:
        200:
          body:
            application/json:
              example:
                {
                  "message": "Customer update success."
                }
    delete:
      description:
        This resource deletes a customer.
      responses:
        200:
          body:
            application/json:
              example:
                {
                  "message": "Customer deletion success."
                }
    
